*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
.container button{

    background-color: rgba(11, 201, 42, 0.2);
    border: none;
}

body{
    background-image: url(https://scontent.fkgl4-1.fna.fbcdn.net/v/t39.30808-6/464793561_1031750575631915_6764571100456441901_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=833d8c&_nc_ohc=gld-nwLTACcQ7kNvgHrGMYG&_nc_zt=23&_nc_ht=scontent.fkgl4-1.fna&_nc_gid=AMtjjREEE6hfQPEau4TI4la&oh=00_AYCp6QZ0-ejOBX-DOODyvsB6AZA3Ooy-E9AvgGXALcxEHA&oe=674CFC53);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(100);
    /* opacity: 30%; */
    /* background-position: 100%; */
}

.container{

    margin: 8em;
}
.container button:hover{
    background-color: rgb(3, 131, 52);
    transition: .4s ease-out;

}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.form form{
    display:inline-block;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50px;
    justify-content: space-between;
    gap:40em;
    justify-items: center;
    margin: 40px;
    padding: 20px;
    position: relative ;
    top: 50%;
    left: 50%;
    right: 50%;
}
.form input{
    padding: 5px;
}







